.card_container {
  width: max(25vw, 300px);
  max-width: 500px;
  height: 500px;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-evenly;
}
.card_container h1 {
  color: white;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-family: "Bold";
}
.card_container .icon_zoom {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.card_container .icon_trash {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.card_container p {
  color: white;
  text-shadow: 0 0 rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  text-align: center;
  font-family: "Italic";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card_container .info_blocks_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .card_container {
    width: 80vw;
    min-height: 80vw;
  }
}
